/* RESET */
* { margin: 0px; padding: 0px; }

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* COLORS */
:root { --purple: #8465B5; }

/* Form styling */
#form {
    position: fixed;
    z-index: 999;
}

/* Cards styling */
.cards {
    height: auto;
    width: 500px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    margin: 20px;
}

/* card styling */
.card {
    margin-top: 60px;
    height: 400px;
    width: 550px;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 4px;
    position: relative;
}

/* Head styling */
.head {
    height: auto;
    width: 100%;
    background-color: var(--purple);
    position: absolute;
    text-align: left;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.head h2 {
    font-family: 'Montserrat';
    font-size: 14px;
    color: white;
    margin: 20px;
    display: inline-block;
}

.head span {
    position: absolute;
    right: -50px;
    top: 15px;
}

.head span .fas{
    color: var(--purple);
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    animation: marker 5s alternate cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    transform-style: preserve-3d;
    perspective: 400px;
}

/* Keyframes for marker animation */
@keyframes marker {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}

.head span .fas:hover {
    color: rgb(89, 60, 134);
}

/* Branches styling */
.branches {
    position: absolute;
    padding: 10px;
    height: 260px;
    width: 400px;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px grey;
    background-color: rgba(255, 255, 255, 0.801);
    top: 57%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
}

.branches ul {
    font-family: 'Montserrat';
    color: var(--purple);
    font-size: 13px;
    margin: 15px 0px 0px 15px;
}
.branches ul li {
    margin: 5px;
}